---
import { Picture } from 'astro:assets'
import { PROJECTS } from '@/constants'
import Section from '../Section.astro'
import { Badge } from '../ui/Badge'
import Icon from '../ui/Icon'
---

<Section name="Proyectos" label="Proyectos destacados">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {
      PROJECTS.map((project) => (
        <article class="bg-[#12042d]/60 border border-[#5d506b] p-4 rounded-md hover:border-[#7042f8] transition-colors overflow-hidden">
          <Picture src={project.image} alt={project.title} formats={['avif', 'webp']} />
          <div class="p-6 space-y-4">
            <header>
              <h3 class="text-2xl font-semibold">{project.title}</h3>
            </header>
            <p class="text-[#cbd5e1] text-pretty">{project.description}</p>
            <Badge items={project.technologies} />
            <div class="flex gap-4">
              {project.githubURL && (
                <a
                  href={project.githubURL}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="btn"
                >
                  <Icon name="github" />
                  <span>Código</span>
                </a>
              )}
              {project.demoURL && (
                <a
                  href={project.demoURL}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="btn"
                >
                  <Icon name="website" />
                  <span>Demo</span>
                </a>
              )}
            </div>
          </div>
        </article>
      ))
    }
  </div>
</Section>
