---
import '@/styles/globals.css'
import { Schema } from 'astro-seo-schema'

const canonicalURL = new URL(Astro.request.url, Astro.site).toString()
const { title, description } = Astro.props
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="index, follow">
<meta name="author" content="Brandon Medina">
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="canonical" href={canonicalURL} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content="bmmedina.dev" />
<meta property="og:image" content="/images/og-image.png" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="/images/og-image.png" />
<Schema item={{
  "@context": "https://schema.org",
  "@type": "Person",
  name: "Brandon Medina",
  jobTitle: "Desarrollador Web Full Stack",
  url: canonicalURL,
  description: description,
  image: "/images/og-image.png",
  sameAs: [
    "https://github.com/bmmedina99",
    "https://www.linkedin.com/in/bmmedina99/",
    "https://www.instagram.com/bmmedina99/"
  ],
  skills: [
    "Next.js",
    "Astro",
    "React",
    "TypeScript",
    "Node.js",
    "NestJS",
    "Python",
    "TaildwindCSS",
    "PostgreSQL",
    "Git & GitHub",
  ]
}} />
