---
import '@/styles/globals.css'
import { Schema } from 'astro-seo-schema'

const canonicalURL = new URL(Astro.request.url, Astro.site).toString()
const { title, description } = Astro.props
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{title}</title>
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="index, follow">
<meta name="author" content="Brandon Medina">
<link rel="icon" href="/favicons/favicon-16x16.png" type="image/png" sizes="16x16">
<link rel="icon" href="/favicons/favicon-32x32.png" type="image/png" sizes="32x32">
<link rel="apple-touch-icon" href="/favicons/favicon-180x180.png" type="image/png" sizes="180x180">
<link rel="icon" href="/favicons/favicon-192x192.png" type="image/png" sizes="192x192">
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="canonical" href={canonicalURL} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content="bmmedina.dev" />
<meta property="og:image" content="/assets/images/og-image.png" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="/assets/images/og-image.png" />
<Schema item={{
  "@context": "https://schema.org",
  "@type": "Person",
  name: "Brandon Medina",
  jobTitle: "Desarrollador Web Full Stack",
  url: canonicalURL,
  description: description,
  image: "https://bmmedina.dev/assets/images/profile.png",
  sameAs: [
    "https://github.com/bmmedina99",
    "https://linkedin.com/in/bmmedina99",
    "https://instagram.com/bmmedina99"
  ],
  skills: [
    "Next.js",
    "Astro",
    "React",
    "TypeScript",
    "Node.js",
    "NestJS",
    "Python",
    "TaildwindCSS",
    "PostgreSQL",
    "Git & GitHub",
  ]
}} />
